.form__label {
  display: block;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  font-size: px2em(12px);
  line-height: 1.16667;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: #757575;
}

.form__input-name, .form__input-tel, .form__input-email {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 0 12px 42px;
  margin-top: 4px;
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: 70%;
  left: 12px;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  fill: var(--text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input-checkbox {
  margin-top: 10px;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  font-style: normal;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #ffffff;
  color: #212121;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fixed-position {
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 1.625rem;
    line-height: 1.19231;
    letter-spacing: 0.03em;
    font-weight: 700;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.address {
  margin-top: 20px;
  margin-bottom: 60px;
  min-width: 220px;
  font-size: 0.875rem;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.address__item:not(:last-child) {
  margin: 9px 0 9px;
}

.address__email, .address__tel {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
    margin-bottom: 0;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__logo {
  padding: 16px 0;
}

.header-nav__text {
  color: #2196f3;
}

.header-nav__btn {
  background-color: transparent;
  z-index: 3;
}

.header-nav__icon-menu {
  fill: #000;
}

.header-nav__btn.is-open .header-nav__icon-menu {
  display: none;
}

.header-nav__icon-close {
  fill: #000;
  display: none;
}

.header-nav__btn.is-open .header-nav__icon-close {
  display: block;
}

.header-nav__bar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  background-color: #fff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__bar.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .header-nav__logo {
    padding: 26px 0;
    margin-right: 88px;
  }
  .header-nav__icon {
    display: none;
  }
  .header-nav__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav__logo {
    margin-right: 93px;
  }
  .header-nav__icon {
    display: none;
  }
}

.header-menu {
  background-color: #ffffff;
}

.header-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.header-menu__link {
  font-size: 2.5rem;
  line-height: 1.15;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu__link:hover {
  color: #2196f3;
}

.header-menu__link--active {
  color: #2196f3;
}

.header-menu.is-open {
  display: block;
}

@media screen and (max-width: 479px) {
  .header-menu__link {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-menu__item:not(:last-child) {
    margin: 0 50px 0 0;
  }
  .header-menu__link {
    font-size: 0.875rem;
    line-height: 1.14286;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #212121;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu__link:hover {
    color: #2196f3;
  }
  .header-menu__link--active {
    color: #2196f3;
  }
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: auto;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #757575;
}

.header-contacts__email {
  font-size: 1.5rem;
  line-height: 1.16667;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 64px;
}

.header-contacts__tel {
  font-size: 2.125rem;
  line-height: 1.17647;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 32px;
  color: #2196f3;
}

.header-contacts__icon {
  display: none;
}

@media screen and (max-width: 479px) {
  .header-contacts__email {
    font-size: 1.3rem;
  }
  .header-contacts__tel {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0.75rem;
    line-height: 1.16667;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .header-contacts__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    font: inherit;
  }
  .header-contacts__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #757575;
    margin: 0;
    font: inherit;
  }
  .header-contacts__icon {
    display: block;
    margin-right: 10px;
    fill: #757575;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 0.875rem;
    line-height: 1.14286;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .header-contacts__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 30px 0 0;
  }
  .header-contacts__icon {
    vertical-align: middle;
  }
}

.header-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 5px;
}

.header-socials__item:not(:first-child) {
  padding-left: 5px;
}

.header-socials__link {
  font-size: 1.125rem;
  line-height: 1.22222;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .header-socials__link {
    font-size: 0.78rem;
  }
}

@media screen and (min-width: 768px) {
  .header-socials {
    display: none;
  }
}

.contacts-hover {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-hover:hover .header-contacts__icon,
.contacts-hover:focus .header-contacts__icon {
  fill: #2196f3;
}

.contacts-hover:hover,
.contacts-hover:focus {
  color: #2196f3;
  fill: #2196f3;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100vw;
  height: 400px;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile-breakpoint/header-bg.webp);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-breakpoint/header-bg.webp);
  background-size: 100vw 400px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile-breakpoint/header-bg@2x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-breakpoint/header-bg@2x.webp);
  }
}

.hero__title {
  margin-bottom: 30px;
  max-width: 360px;
  font-size: 1.625rem;
  line-height: 1.61538;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.hero__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding-left: 32px;
  padding-right: 32px;
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100vw;
    height: 400px;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet-breakpoint/header-bg.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-breakpoint/header-bg.webp);
    background-size: 100vw 400px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet-breakpoint/header-bg@2x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-breakpoint/header-bg@2x.webp);
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 30px;
    max-width: 360px;
    font-size: 1.625rem;
    line-height: 1.61538;
    letter-spacing: 0.06em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop-breakpoint/header-bg.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-breakpoint/header-bg.webp);
    background-size: 100% 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop-breakpoint/header-bg@2x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-breakpoint/header-bg@2x.webp);
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    margin-bottom: 30px;
    max-width: 696px;
    font-size: 2.75rem;
    line-height: 1.36364;
    letter-spacing: 0.06em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 4;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--hidden > :first-child {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  max-width: 450px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 479px) {
  .modal {
    max-width: 90vw;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    padding: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px 10px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}

.modal__icon {
  vertical-align: middle;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

:hover > .modal__icon {
  fill: #2196f3;
}

.form__title {
  margin: 12px 0;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
}

.form__input-name::-webkit-input-placeholder, .form__input-tel::-webkit-input-placeholder, .form__input-email::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.form__input-name:-ms-input-placeholder, .form__input-tel:-ms-input-placeholder, .form__input-email:-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.form__input-name::-ms-input-placeholder, .form__input-tel::-ms-input-placeholder, .form__input-email::-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.form__input-name::placeholder, .form__input-tel::placeholder, .form__input-email::placeholder {
  font-family: 'Roboto';
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.form__input-name:focus, .form__input-tel:focus, .form__input-email:focus {
  border: 1px solid #2196f3;
}

:focus + .form__icon {
  fill: #2196f3;
}

.form__textarea::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-family: 'Roboto';
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.form__chekbox-label {
  position: relative;
  margin-top: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #757575;
}

.form__chekbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -2px;
  left: 0;
  margin-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

:checked + .form__chekbox-icon {
  border-color: transparent;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form__link {
  margin-left: 3px;
  color: #2196f3;
  line-height: 20px;
  line-height: 1;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn-box {
  text-align: center;
}

.form__btn {
  padding-right: 55px;
  padding-left: 56px;
  margin: 30px auto 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form__btn:hover, .form__btn:focus {
  background-color: #188ce8;
}

.features {
  padding: 60px 0;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__item {
  max-width: 600px;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
}

.features__text {
  max-width: 100%;
  font-size: 0.875rem;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .features__item {
    max-width: 500px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
  .features__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0 0 0;
  }
  .features__item {
    max-width: 270px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
  .features__item:last-child {
    margin-bottom: 30px;
  }
}

.work {
  display: none;
}

.work__title {
  margin-bottom: 50px;
  font-size: 2.25rem;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__item {
  position: relative;
  z-index: -1;
}

.work__text {
  display: block;
  width: 100%;
  padding: 27px 0;
  position: absolute;
  bottom: 0;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.team {
  background-color: #f5f4fa;
}

.team__top-title {
  margin-bottom: 30px;
  font-size: 1.75rem;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__item {
  max-width: 450px;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__img {
  width: 100%;
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0 30px;
}

.team__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.team__subtitle {
  margin-bottom: 16px;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-align: center;
  color: #757575;
}

.team__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:not(:last-child) {
  margin-right: 10px;
}

.team__social-link:hover, .team__social-link:focus {
  background-color: #2196f3;
}

.team__social-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

:hover > .team__social-icon,
:focus > .team__social-icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-content: center;
    flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .team__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    font-size: 1rem;
    line-height: 1.1875;
    letter-spacing: 0.03em;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__top-title {
    font-size: 2.25rem;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    font-weight: 700;
  }
  .team__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.clients__top-title {
  margin-bottom: 30px;
  font-size: 1.75rem;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients__item {
  max-width: 210px;
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

:hover > .clients__icon,
:focus > .clients__icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .clients__item {
    max-width: 226px;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__top-title {
    margin-bottom: 30px;
    font-size: 2.25rem;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-align: center;
  }
  .clients__item {
    max-width: 170px;
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
  }
}

.footer {
  padding: 60px 0;
  color: #ffffff;
  background-color: #2f303a;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.socials {
  margin-left: 70px;
  margin-right: 93px;
  margin-bottom: 60px;
  text-align: center;
}

.socials__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
}

.socials__link {
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:not(:last-child) {
  margin-right: 10px;
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.socials__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .socials__title {
    text-align: left;
  }
}

.subscription {
  width: 100%;
}

.subscription__title {
  margin-bottom: 20px;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscription__email {
  padding: 15px 0 15px 16px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscription__email::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__email:-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__email::-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__email::placeholder {
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding-right: 28px;
  padding-left: 29px;
  font-size: 1rem;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-weight: 700;
}

.subscription__btn:hover, .subscription__btn:focus {
  background-color: #188ce8;
}

.subscription__icon {
  margin-left: 10px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .socials {
    margin: 0 0 auto 0;
  }
  .subscription__email {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .socials {
    margin: 0 0 5px 0;
  }
  .socials_title {
    margin-bottom: 20px;
    font-size: 0.875rem;
    line-height: 1.14286;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
  }
  .socials__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
  }
  .socials__link {
    background-color: rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px;
    border-radius: 50%;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socials__link:not(:last-child) {
    margin-right: 10px;
  }
  .socials__link:hover, .socials__link:focus {
    background-color: #2196f3;
  }
  .socials__icon {
    fill: currentColor;
  }
  .subscription {
    width: auto;
  }
  .subscription__title {
    margin-bottom: 20px;
    font-size: 0.875rem;
    line-height: 1.14286;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
  }
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .subscription__email {
    width: 357px;
    padding: 15px 0 15px 16px;
    margin-right: 12px;
    margin-bottom: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  .subscription__email::-webkit-input-placeholder {
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__email:-ms-input-placeholder {
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__email::-ms-input-placeholder {
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__email::placeholder {
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    line-height: 1.875;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: 700;
    letter-spacing: 0.06em;
    border-radius: 4px;
    background-color: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    padding-right: 28px;
    padding-left: 29px;
    font-size: 1rem;
    line-height: 1.875;
    letter-spacing: 0.06em;
    font-weight: 700;
  }
  .subscription__btn:hover, .subscription__btn:focus {
    background-color: #188ce8;
  }
  .subscription__icon {
    margin-left: 10px;
    fill: #ffffff;
  }
}

.portfolio__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.portfolio__filter {
  margin-bottom: 15px;
}

.portfolio__filter:not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn {
  padding: 6px 22px;
  font-family: 'Roboto', serif;
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0.03em;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: box-shadowy 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadowy 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn:hover, .portfolio__btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio__btn--active {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio__item :hover :first-of-type {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__link {
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__top {
  position: relative;
  overflow: hidden;
}

.portfolio__about {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 1.125rem;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  font-weight: 400;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__content {
  padding: 20px 0 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__text {
  font-size: 1rem;
  line-height: 1.875;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #757575;
}

.portfolio__title {
  margin-bottom: 4px;
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #212121;
}

@media screen and (max-width: 479px) {
  .portfolio__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .portfolio__list {
    margin-top: -30px;
    margin-left: -30px;
  }
  .portfolio__item {
    max-width: 354px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .portfolio__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__filters {
    margin-bottom: 50px;
  }
  .portfolio__list {
    margin-top: -30px;
    margin-left: -30px;
  }
  .portfolio__item {
    max-width: 370px;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
/*# sourceMappingURL=main.css.map */