//Fonts

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$base-font-size: 14px;

//Colors

$primary-color: #212121;
$primary-color-blue: #2196f3;
$secondary-color-grey: #757575;
$white-color: #ffffff;
$black-color: #000000;

//Breakpoint
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
